.mainContainer{
    display: flex ;
    flex-direction: column;
    gap: 3rem;
    margin-top: 8rem;
    // Styles for large screens
    @media (min-width: 768px) {
        padding: 1rem;



    }

    // Styles for mobile screens
    @media (max-width: 767px) {
        padding: 3rem;


    }
}


.heading {
    font-weight: 600;
    font-size: 3rem;
    margin: 0;
    text-align: center;
    @media (max-width: 1800px) {
        font-size: 4.2rem;
    }

    @media (max-width: 950px) {
        font-size: 4rem;
    }

    @media (max-width: 650px) {
        font-size: 3rem;
    }
}

.gradientStyle {
    background-image: linear-gradient(90.81deg,
            #0c94e1 1.5%,
            #07d698 51.67%) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
}
.faqSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // min-height: 6rem;
}

.ques {
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px 25px;
    height: max-content;
}

.mainsection {
    @media (max-width: 912px) {
        flex-direction: column;
        align-items: center;
    }
}

.imagefaq {
    height: 40%;
    width: 40%;
    margin: auto;
    @media (max-width: 540px) {
        width: 15rem;
        height: 15rem;
    }
}

.answer-wrapper {
    // height: 0;
    height: max-content;
    overflow: hidden;
    transition: height 0.1s ease-out;
}

// .answer {
//     padding: 0 25px;
// }

.answer-wrapper.show {
    // height: auto;
    height: max-content;
    transition: height 0.1s ease-out;
}
