 /*New CSS*/
 .root {
     box-sizing: border-box;
     width: 100%;
     height: calc(100vh - 61px);
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px 5%;
     font-family: Montserrat, sans-serif !important;


     & .p {
         padding: 0;
         margin: 0;
     }

     @media (max-width: 992px) {
         height: 100%;
         padding: 20px 5%;
     }
 }



 .row {
     display: flex;
     justify-content: space-between;
     align-items: center;

     @media screen and (max-width: 790px) {
         flex-direction: column;
     }
 }





 .btnCol {
     width: 38%;

     @media screen and (max-width: 1260px) {
         width: 40%;
     }
 }

 .container {
     margin-top: 12%;
 }

 .textCol {
     width: 60%;

     @media screen and (max-width: 1260px) {
         width: 57%;
     }
 }

 .col {
     @media screen and (max-width: 790px) {
         width: 100%;
     }
 }

 .approach_hero_banner {
     margin-top: 15%;
     width: 100%;
     height: 200%;

     @media screen and (max-width: 790px) {
         max-width: 300px;
     }
 }

 .divider {
     width: 55%;
     height: 1px;
     margin: 50px 0px;

     @media screen and (max-width: 650px) {
         margin: 30px 0px;
     }

 }

 .heading {
     font-weight: 800;
     font-size: 3rem;
     margin: 0;

     @media (max-width: 1800px) {
         font-size: 4.2rem;
     }

     @media (max-width: 950px) {
         font-size: 4rem;
     }

     @media (max-width: 650px) {
         font-size: 3rem;
     }
 }

 .gradientStyle {
     background-image: linear-gradient(90.81deg,
             #0c94e1 1.5%,
             #07d698 51.67%) !important;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
     margin: 0;

     background-size: 200% auto;

     color: #000;
     background-clip: text;

     animation: shine 2s reverse linear infinite;

     @keyframes shine {
         to {
             background-position: 200% center;
         }
     }
 }


 .description {
     font-weight: 400;
     font-size: 20px;
     opacity: 0.75;
     margin-top: 10px;

     @media (max-width: 1600px) {
         font-size: 2.6vh;
         margin: 16px 0px;
     }

     @media (max-width: 767px) {
         font-size: 16px;
     }
 }

 .bgText {
     -webkit-background-clip: text;
     background-clip: text;
     font-size: 82px;
     margin: 0px;
     font-weight: 700;
     display: inline-block;
     color: black;

     @media screen and (max-width: 1260px) {
         font-size: 50px;
     }

     @media screen and (max-width: 892px) {
         font-size: 44px;
     }

     @media screen and (max-width: 650px) {
         font-size: 36px;
     }
 }

 .LightBgText {
     font-weight: 500;
 }

 .btnSection {
     border-radius: 42px;
     padding: 32px 26px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     position: relative;

     @media screen and (max-width: 650px) {
         padding: 22px 16px;
     }
 }



 .description {
     font-size: 24px;
     font-weight: 400;
     margin: 0px;
     padding: 25px 0px;
     width: 90%;

     @media screen and (max-width: 650px) {
         width: 100%;
         font-size: 16px;
     }
 }

 .banner {
     width: 100%;
     height: 100%;
     margin-top: 60px;
     margin-bottom: 80px;

     @media screen and (max-width: 900px) {
         margin-top: 0px;
         margin-bottom: 30px;
     }
 }


 @keyframes flip {
     0% {
         transform: rotateY(0deg);
     }

     50% {
         transform: rotateY(180deg);
     }

     100% {
         transform: rotateY(360deg);
     }
 }

 @keyframes colorChange {

     0%,
     100% {
         background: black;

     }

     50% {
         background: linear-gradient(90.81deg, #0c94e1 1.5%, #07d698 51.67%);
     }
 }

 @keyframes flip {
     0% {
         transform: rotateY(0deg);
     }

     50% {
         transform: rotateY(180deg);
     }

     100% {
         transform: rotateY(360deg);
     }
 }

 .card {
     padding: 32px;
     height: 100%;
     background-color: rgba(255, 255, 255, 0.8);
     border: 1px solid transparent;
     border-radius: 16px;
     box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
     transition: border-color 0.3s ease;
     box-sizing: border-box;
     margin-top: 30px;
     min-height: 100px;
     max-height: 100px;
     min-width: 100px;
     transition: transform 0.6s;
     transform-style: preserve-3d;
     display: flex;
     align-items: center;
     justify-content: center;
     backface-visibility: hidden;

     &.cardHover {
         animation: flip 3s infinite;

         &:nth-child(1) {
             animation-delay: 0s;
         }

         &:nth-child(2) {
             animation-delay: 1s;
         }

         &:nth-child(3) {
             animation-delay: 2s;
         }

         &:nth-child(4) {
             animation-delay: 3s;
         }
     }

     &.blackbox {
         background-color: black;
     }

     &.cyanbox {
         background-color: cyan;
     }

     &.pinkbox {
         background-color: #e43488;
     }

     &.purplebox {
         background-color: #9265f3;
     }

     &.yellowbox {
         background-color: yellow;
     }

     &.orangebox {
         background-color: orange;
     }
 }