.root {
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 61px);
    justify-content: center;
    align-items: center;
    padding: 10px 5%;
    font-family: Montserrat, sans-serif !important;
    margin-top: 200px;

    & .p {
        padding: 0;
        margin: 0;
    }

    @media (max-width: 992px) {
        height: 100%;
        padding: 20px 5%;
    }
}



.heading {
    font-weight: 600;
    font-size: 3rem;
    margin: 0;

    @media (max-width: 1800px) {
        font-size: 4.2rem;
    }

    @media (max-width: 950px) {
        font-size: 4rem;
    }

    @media (max-width: 650px) {
        font-size: 3rem;
    }
}

.relative {
    position: relative;
}

.numberBox {
    position: absolute;
    top: -0.7em;
    right: 0;
    line-height: 1;
    font-weight: 700;
    color: white;
    font-size: 3em;
    text-shadow: -1px 1px 2px orange,
        1px 1px 2px orange,
        1px -1px 0 orange,
        -1px -1px 0 orange;

}


.gradientStyle {
    background-image: linear-gradient(90.81deg,
            #0c94e1 1.5%,
            #07d698 51.67%) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
}

.card {
    padding: 32px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid transparent;
    border-radius: 16px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 30px;
    min-height: 220px;
    max-height: 260px;
    min-width: 200px;
    max-width: 350px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    margin-top: 20px;
    border-color: orange;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(180deg);
    }
}

/* Flip effect on hover */
 

.imgclass {
    align-items: center;
    justify-content: center;
    margin: auto;
}


/* Adjustments for the content */
.boxHeading {
    font-weight: bold;
    margin: 0.5rem 0;
}


.boxHeading {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.blackbox {
    background-color: black;
}

.cyanbox {
    background-color: #92f5e9;
}

.pinkbox {
    background-color: #e43488;
}

.purplebox {
    background-color: #9265f3;
}

.cardcontainer {
    perspective: 1000px;
    justify-content: center;
}

.marginClass{
    margin: auto;
}

.card:hover {
    transform: rotateY(180deg);
}

.front{
    backface-visibility: hidden;
}
.back {
    position: absolute;
    backface-visibility: hidden;
    text-align: center !important;
    justify-content: center !important;
    ;width: max-conten
    
}


.back {
    transform: rotateY(180deg);
}