.root {
    box-sizing: border-box;
    width: 100%;
    // height: calc(100vh - 61px);
    justify-content: center;
    align-items: center;
    padding: 10px 5%;
    font-family: Montserrat, sans-serif !important;


    & .p {
        padding: 0;
        margin: 0;
    }

    @media (max-width: 992px) {
        height: 100%;
        padding: 20px 5%;
    }
}


.flexClass{
  justify-items: center;
}


.heading {
  font-weight: 600;
  font-size: 3rem;
  margin: 0;

  @media (max-width: 1800px) {
    font-size: 4.2rem;
  }

  @media (max-width: 950px) {
    font-size: 4rem;
  }

  @media (max-width: 650px) {
    font-size: 3rem;
  }
}

.gradientStyle {
  background-image: linear-gradient(90.81deg,
      #0c94e1 1.5%,
      #07d698 51.67%) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
}


.description {
  font-weight: 400;
  font-size: 20px;
  opacity: 0.75;

  @media (max-width: 1600px) {
    font-size: 2.6vh;
    margin: 16px 0px;
  }

  @media (max-width: 767px) {
    font-size: 16px;
  }
}

/* JobListing.module.css */
.container {
  display: flex;
  /* Adjust as needed */
  padding: 16px;
  box-sizing: border-box;

  // Styles for large screens
@media (min-width: 768px) {
  max-width: 50vw;
   
}

// Styles for mobile screens
@media (max-width: 767px) {
  min-width: 50%;
   
}

}

.card {
  padding: 32px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid transparent;
  border-radius: 16px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
  
}

.card:hover {
  border-color: #D1D5DB;
  /* gray-300 */
}

.cardHeader {
  margin-bottom: 1px;
}

.title {
  margin-bottom: 16px;
  font-size: 1.25rem;
  /* text-xl */
  font-weight: 700;
  /* font-bold */
  line-height: 1.375;
  /* leading-snug */
  color: black;
  font-family: Montserrat, sans-serif !important;

}

.description {
  color: black;
  /* text-gray-500 */
  font-weight: 500;
  /* font-medium */
  line-height: 1.625;
  /* leading-relaxed */
}

.infoGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: -8px;
  
}

.infoItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 8px;
  color: black;
  font-family: Montserrat, sans-serif !important;

}

.icon {
  width: 18px;
  height: 18px;
  margin: 4px;
}

.infoText {
  font-family: sans-serif;
  /* font-sans */
  line-height: 1.625;
  /* leading-relaxed */
}

.text {
  font-size: 24px;
  font-weight: 400;
  margin: 0px;
  padding: 25px 0px;
  width: 90%;

  @media screen and (max-width: 650px) {
    width: 100%;
    font-size: 16px;
  }
}

/*Common To ALL CSS*/
.containerHeight{
  margin-top: 50px;
}